.AuthPage {
  /* height: 70vh; */
  /* display: flex;
  justify-content: space-evenly; */
  align-items: center;
  background-color: var(--white);
  border-radius: 2vmin;
}

.AuthPage p {
  margin-top: 4vmin;
  text-align: center;
  color: var(--text-light);
  cursor: pointer;
}

.flex {
  display: flex;
  /* border: solid green; */
}

.MainWrap {
  /* border: solid purple; */
  background-image: url('../../../public/images/morning_haze_1958.12.1.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.subTitle {
  border: 1px #376430;
  border-style: none solid solid none;
  background-color: #e6e6fa;
  text-align: center;
  padding: 10px;
  cursor:pointer ;
}

.hover:hover {
  color: #fd657f;
}
