.NavBarWrapper {
    height: 80px;
    background-color: #e6e6fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 60px;
}
.nav {
    width: 1070px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px 0 20px; */
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.quote {
    font-family: serif;
    font-style: italic;
}
