.NavBarWrapper {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navBarBg {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #e6e6fa;
  }
.logo {
    height: 60px;
}
.nav {
    width: 1070px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px 0 20px; */
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.quote {
    font-family: serif;
    font-style: italic;
}
.span {
    color: #4C5A0D;
}
