/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Italiana&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* font-family: 'Beth Ellen', cursive; */
/* font-family: 'Italiana', serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.input {
  /* border: solid lime; */
  width: 300px;
  height: 55px;
  display: flex;
  flex-direction: column;
}
input{
  height: 30px;
}
p {
  font-family: 'Roboto Condensed', sans-serif;
}
button {
  width: 200px;
  height: 35px;
  background-color: rgb(255, 199, 87);
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #fd657f;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: rgb(50, 184, 63);
}
textarea {
  margin-top: 5px;
  width: 300px;
  height: 100px;
}
ul {
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif;
}

/* global flex */
.flex {
  display: flex;
  justify-content: center;
}
.flex2 {
  display: flex;
}
.flex3 {
  display: flex;
  justify-content: space-around;
}

.closeButton {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.test {
  border: solid blue
}
.margin {
  margin-top: 20px;
}
.italiana {
  font-family: 'Italiana', serif;
}
.beth {
  font-family: 'Beth Ellen', cursive;
}
.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}